@font-face{
    font-family:"genshinwords";
    src:url(../font/genshinword.ttf)
}

@font-face{
    font-family:"uud";
    src:url(../font/UDDigiKyokashoN-R.ttc)
}

.column{
    margin-left:15%;
    background-color:rgba(172, 225, 241, 0.8);
    width:70%;
    height:100%;
    margin-right:15%;
}

.buttom{
    width:40px;
    height:40px;
    background-color:rgb(245, 245, 245);
    position:fixed;
    margin-top:40%;
    margin-left: 90%;
    border-radius:5px 5px 0px 0px;
    font-size:50px;
    -webkit-box-align:center;
    transition:background-color 0.5s, color 0.5s;
    -webkit-transition:background-color 0.5s, color 0.5s;
}
.buttom:hover{
    background-color:rgb(37, 37, 37);
}
a.button:link,a.button:visited{
    color:#000000;
}
a.button:hover,a.button:active{
    color:#ffffff;
}


.pov{
    background-color:rgba(242, 243, 240, 0.6);
    border:2px solid rgba(192, 194, 190, 0.6);
    position:fixed;
    margin:0;
    padding:0;
    top:0;
    overflow:hidden;
    width:99%;
}/*菜单栏背景*/
.menu{
    color:#ffffff;
    font-size:40px;
    margin:0;
    padding:0;
    font-family:"genshinwords";
}
a.menu:link,a.menu:visited{
    color:#000000;
}
a.menu:hover,a.menu:active{
    background-color:rgba(179, 180, 178, 0.8);
}


a{
    text-decoration:none;
}



.ttt{
    display:inline;
}

.background{
    background-image:url('../img/background.png');
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}